{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

<h1>{{ post.title }}</h1>
<p class="date">
    Published {{ post.publish }} by {{ post.author }}
</p>
{{ post.body|markdown }}
<!--{{ post.body|linebreaks }}-->
<!--linebreaks converts the output into HTML line breaks.-->
<p>
    <a href="{% url "blog:post_share" post.id %}">
    Share this post
    </a>


  <h2>Similar posts</h2>
  {% for post in similar_posts %}
    <p>
      <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </p>
  {% empty %}
    There are no similar posts yet.
  {% endfor %}


    <!-- Django 2 by Example s.137 Django ORM-->
    {% with comments.count as total_comments %}
    <!--The 'with' template tag is useful to avoid hitting the database or
    accessing expensive methods multiple times.-->
<h2>
    {{ total_comments }} comment{{ total_comments|pluralize }}
</h2>
{% for comment in comments %}
<div class="comment">
    <p class="info">
        Comment {{ forloop.counter }} by {{ comment.name }}
        {{ comment.created }}
    </p>
    {{ comment.body|linebreaks }}
</div>
{% empty %}
<p>There are no comments yet.</p>
{% endfor %}

<!--let's test this peace of code-->
{% if new_comment %}
{% else %}
<h2>Add a new comment</h2>
<form action="." method="post">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Add comment"></p>
</form>
{% endif %}
<h2>Your comment has been added.</h2>

{% endwith %}
</p>
{% endblock %}